.bus-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    margin-top: 17px;
}

table {
    width: 700px;
}

h2 {
    margin-bottom: 20px;
}

h1 {
    margin-top: 20px;
    border-style: solid;
    padding: 100px;
}